<html>
<head>
  <title>Home - RocRegRev</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/rocregrev.css">

</head>
<body>
  <div class='container'>
    <div class="jumbotron">
      <h1 class="display-4 text-dark text-center">
        <span class="text-success">Roc</span>hester
        <span class="text-warning">Reg</span>gae
        <span class="text-danger">Rev</span>ival
      </h1>
      <hr class="my-4">
      <h3 class="display-5 font-italic text-center">Every Wednesday in January at <a href="http://www.flourcitystation.com" class="alert-link">Flour City Station</a></h3>
    </div>
    <div class="container">
      <div class="alert alert-info" role="alert">
        <p class="text-center">This website should serve as a resource for the musicians involved with the event.</p>
        <p class="text-center">If you have a problem with your music being represented here, <a href="https://github.com/tonisbones">contact me.</a></p>
      </div>
    </div>
    <h3 class="display-6">Songs</h3>
    <div id="songs" class="list-group">
      {% for song in song_dict %}
      <a href="{{ song.path }}" class="list-group-item list-group-item-action">{{ song.title }} - {{ song.artist }}</a>
      {% endfor %}
    </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
