{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="static/css/rocregrev.css">
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class='container'>
    <div class="jumbotron">
      <h1 class="display-4 text-dark text-center">
        <span class="text-success">Roc</span>hester
        <span class="text-warning">Reg</span>gae
        <span class="text-danger">Rev</span>ival
      </h1>
      <hr class="my-4">
      <h3 class="display-5 font-italic text-center">Every Wednesday in January at <a href="http://www.flourcitystation.com" class="alert-link">Flour City Station</a></h3>
      <hr class="my-4">
      <h4 class="display-5 text-center">
        <span class="font-weight-bold">January 2nd</span>: Roots Reggae Night w/
        <a href="https://www.facebook.com/zackrabbetfutt/" target="_blank"> Zack Rabbet Futt</a>
      </h4>
      <h4 class="display-5 text-center">
        <span class="font-weight-bold">January 9th</span>:
        <a href="https://www.facebook.com/theforestdwellersmusic585/" target="_blank"> The Forest Dwellers</a> w/
        <a href="https://www.facebook.com/eliflynnmusic/" target="_blank"> Eli & Adrien</a>
      </h4>
      <h4 class="display-5 text-center">
        <span class="font-weight-bold">January 16th</span>:
        <a href="https://www.facebook.com/PersonalBlend/" target="_blank"> Personal Blend</a> w/
        <a href="https://www.facebook.com/davines99/" target="_blank"> Da Vines</a>
      </h4>
      <h4 class="display-5 text-center">
        <span class="font-weight-bold">January 23rd</span>: Acoustic Reggae Folk Night w/
        <a href="https://rogerkuhn.bandcamp.com/"> Roger Kuhn</a>
      </h4>
      <h4 class="display-5 text-center">
        <span class="font-weight-bold">January 30th</span>: American Reggae Night w/
        <span> TBA </span>
      </h4>
    </div>
    <div class="alert disclaimer">
      <p class="text-center">The next portion of this website should serve as a resource for the musicians involved with the event.</p>
      <p class="text-center">If you have a problem with your music being represented here, <a href="https://github.com/tonisbones">contact me.</a></p>
    </div>
    <h3 class="display-5">Song Candidates</h2>
    <hr />
    <div id="songs" class="list-group">
      <div class="container">
        <div class="row">
          {% for song in song_dict %}
          <div class="col-md-4">
            <div class="card song-card">
              <div class="card-body">
                <h4 class="card-title text-truncate">{{ song.title }}</h4>
                <h5 class="card-subtitle mb-2 text-muted text-truncate"><em>{{ song.artist }}</em></h5>
                <div class="card-text">
                  {% for tag in song.tags %}
                  <span class="badge badge-dark">{{ tag }}</span>
                  {% endfor %}
                  <a href="{{ song.path }}" class="btn btn-outline-success float-right">Details</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
