<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Rochester Reggae Revival Official Website">
  <meta name="author" content="source - http://github.com/tonisbones">
  <meta name="keywords" content="tonisbones,rocregrev,rochesterreggaerevival,reggae,music,anthony decausemaker,anthonydecausemaker,anthony,decausemaker,roc,roccity,flower city,flour city">

  <title>{{ title }} - {{ artist }} - RocRegRev</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/rocregrev.css">

</head>
<body>
  <div class='container'>
    <div class="jumbotron">
      <h1 class="display-4">{{ title }}</h1>
      <h1 class="display-5">{{ artist }}</h1>
      <hr>
      <h3 class="display-6">Key: {{ key_sig }}</h3>
      <p class="text-secondary">{{ notes }}</p>
      <p><a class="btn btn-primary" role="button" href="{{ link }}" target="_blank">Listen here</a></p>
    </div>
    <div class="card-group">
      <div class="card border">
        <h4 class="card-header">Sections:</h4>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for section, progression in sections.items() %}
            <li class="list-group-item"><p>Section: {{ section }}</p><p>Progression: {{ progression }}</p></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="card border">
        <h4 class="card-header">Phrase order:</h4>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for phrase in layout %}
            <li class="list-group-item">{{ phrase.id }}: {{ phrase.section }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
